{% extends 'base.html' %}
{% load static %}
{% block content %}
<style media="screen">

  .carousel-inner{
    height:30rem;

  }
  .carousel-caption{
    position:absolute;
    top: 54%;
    transform: translateY(60%);
    float:left!important;
    color:white;

  }

  a:hover{
    opacity: 0.7;
  }

  .lefcon{
    display: inline;
    float:left;
    width:70%;
    height:30rem;
    background:#6C9BE9;
  }
  .rightcon{
    display: inline;
    float:right;
    width:30%;
    height:30rem;
    background:#6C9BE9;
  }

  .card_image{
    width:100%;
    height:100%;
    border-radius:.4rem;
    object-fit:cover;
    object-position:top left;
  }
  .cadview:hover{
    opacity: 0.7;
  }
  .cadview{
    background:red;
    width:14rem;
    height:23rem;
    border-radius:.6rem;
  }
  .underline{
    width:9rem;
    height:.4rem;
    background-color: #292b2c;
    margin: 0 auto 3rem;
  }
  .checked{
    color:#FFD700;
    }
  .profile-img{
    width:100%;
    border-radius:50%;
  }
  .card-body{
    height:5rem;
  }
}
</style>

  <div style="padding-right:0.97rem;">
    <div class="row" style="background:#6C9BE9;height:40rem;">
    <div class="col-md-6" style="padding-left:2rem;padding-top:10rem;">
      <div class="container">
        <form  method="post"> {% csrf_token %}
        <h3 style="color:white;">Find the perfect <i>freelance</i> <br>services for your business</h3>
        <div class="input-group input-group-lg" style="padding-top:2rem;">
          <input name="search" placeholder='"Try website design"' type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Search</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-left:5rem;padding-top:5rem;">
      <img src="{% static 'img/india-skills.png'%}" alt="organization-skill-logo"></div>
    </div>
  </div>

      <div class="row text-center" style="background:#6C9BE9;">
        <div class="col-sm-12" style="color:white;padding-bottom:1.5rem;">
          <h1 > Popular Service </h1>
        </div>
        <div style="width:100%;">
          <div class="underline">
          </div>
        </div>
      </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
          style="margin-bottom:3rem;background:#6C9BE9;">

      <div class="carousel-inner" >
        <div class="carousel-item active">
          <div class="row">
              {% for catagory in catagorys %}
                {% if  catagory.id >= 5 %}
                  <div class="col-md-3">
                     <a  href="{% url 'main:roomdetail' catagory=catagory %}">
                     <div class="cadview mx-auto" >
                       <img src="{{ catagory.imageURL }}" class="card_image" alt="test"  >
                       <div class="carousel-caption" style="width:10rem;max-width:10rem;">
                           <h5>{{ catagory.categoryname }}</h5>
                       </div>
                     </div>
                     </a>
                   </div>
                {% endif %}
            {% endfor %}
          </div>
          </div>
        <div class="carousel-item">
            <div class="row" >
              {% for catagory in catagorys %}
               {% if  catagory.id < 5 %}
               <div class="col-md-3">
                  <a  href="{% url 'main:roomdetail' catagory=catagory %}">
                  <div class="cadview mx-auto" >
                    <img src="{{ catagory.imageURL }}" class="card_image" alt="test"  >
                    <div class="carousel-caption" style="width:10rem;max-width:10rem;">
                        <h5>{{ catagory.categoryname }}</h5>
                    </div>
                  </div>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
            </div>
        </div>
      </div>



              <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
      </div>


      <div class="jumbotron">
        <div class="container">
          <h2 class="display-4" style="padding-bottom:1.5rem;">A whole world of freelance talent at your fingertips!!</h2>
          <i class="fa fa-check-circle-o fa-1x" aria-hidden="true">
          <span class="lead">The best for every budget</span></i>
          <p class="lead">Find high-quality services at every price point. No hourly rates, just project-based pricing.</p>
          <i class="fa fa-check-circle-o fa-1x" aria-hidden="true">
          <span class="lead">Quality work done quickly</span></i>
          <p class="lead">Find the right freelancer to begin working on your project within minutes.</p>
          <i class="fa fa-check-circle-o fa-1x" aria-hidden="true">
          <span class="lead">Protected payments, every time</span></i>
          <p class="lead">Always know what you'll pay upfront. Your payment isn't released until you approve the work.</p>
          <i class="fa fa-check-circle-o fa-1x" aria-hidden="true">
          <span class="lead">24/7 support</span></i>
          <p class="lead">Questions? Our round-the-clock support team is available to help anytime, anywhere.</p>
        </div>
      </div>


      <div class="row mx-auto">
        <div class="col-md-3">
          <div class="card mx-auto" style="width: 15rem; margin: 20px 10px;">
            <img src="{% static 'img/b3.jpg' %}" class="card-img-top" style="height: 11rem; " alt="#">
            <div class="card-body" style="box-shadow:0 0 20px 7px rgba(0,0,0,0.1);">
                <div class="row mr-auto">
                  <div class="col-md-4">
                      <img src="{% static 'img/BMW_i8_1.jpg' %}" alt="" class="profile-img">
                  </div>
                  <div class="col-md-8">
                    <strong style="font-size:.7rem;">Logo Design</strong><br>
                    <p>by hiruy</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mx-auto" style="width: 15rem; margin: 20px 10px;">
            <img src="{% static 'images/b1.jpg' %}" class="card-img-top" style="height: 11rem; " alt="#">
            <div class="card-body" style="box-shadow:0 0 20px 7px rgba(0,0,0,0.1);">
                <div class="row mr-auto">
                  <div class="col-md-4">
                      <img src="{% static 'images/BMW_i8_1.jpg' %}" alt="" class="profile-img">
                  </div>
                  <div class="col-md-8">
                    <strong style="font-size:.7rem;">Brochure Design</strong><br>
                    <p>by hiruy</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mx-auto" style="width: 15rem; margin: 20px 10px;">
            <img src="{% static 'images/b4.jpg' %}" class="card-img-top" style="height: 11rem; " alt="#">
            <div class="card-body" style="box-shadow:0 0 20px 7px rgba(0,0,0,0.1);">
                <div class="row mr-auto">
                  <div class="col-md-4">
                      <img src="{% static 'images/BMW_i8_1.jpg' %}" alt="" class="profile-img">
                  </div>
                  <div class="col-md-8">
                    <strong style="font-size:.7rem;">Illustration</strong><br>
                    <p>by hiruy</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mx-auto" style="width: 15rem; margin: 20px 10px;">
            <img src="{% static 'images/b2.jpg' %}" class="card-img-top" style="height: 11rem; " alt="#">
            <div class="card-body" style="box-shadow:0 0 20px 7px rgba(0,0,0,0.1);">
                <div class="row mr-auto">
                  <div class="col-md-4">
                      <img src="{% static 'images/BMW_i8_1.jpg' %}" alt="" class="profile-img">
                  </div>
                  <div class="col-md-8">
                    <strong style="font-size:.7rem;">Album Cover Design</strong><br>
                    <p>by hiruy</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>



     
               
{% endblock content %}

{% block likns %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'main:home_page' %}">Home <span class="sr-only">(current)</span></a>
</li>
{% if request.user.is_authenticated %}
  {% if request.user.firstname != null %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'main:addroom' %}">Add Service</a>
    </li>
  {% endif %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'chat:room' room_name=other_users %}">Message </a>
</li>
{% else %}
<li class="nav-item" >
        <a class="nav-link" href="{% url 'main:login' %}">Log in</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="{% url 'main:register' %}">Become a Seller</a>
      </li>
{% endif %}
{% endblock likns %}
